<nav class="navbar navbar-expand-lg d-flex align-items-center justify-content-evenly bg-transparent">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      SuperGlobales
    </a>

    <!-- <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">pedidos</a>
        </li>
      </ul>
    </div> -->

    <div class="btn-group">

      <a class="dropdown-toggle mb-1 no-arrow" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
          alt="Black and White Portrait of a Man" loading="lazy" />
      </a>

      <ul class="dropdown-menu dropdown-menu-lg-end">
        <li><a class="dropdown-item disabled" href="#">Perfil</a></li>
        <li><a class="dropdown-item disabled" href="#">configuracion</a></li>
        <li><a class="dropdown-item" href=""></a>
          <hr class="dropdown-divider">
        </li>
        <!-- <li><a class="dropdown-item" href="#" (click)="onLogOut()">cerrar sesion</a></li> -->
        <li>
          <button class="dropdown-item" href="#" (click)="onLogOut()">cerrar sesion</button>
        </li>
      </ul>

    </div>

  </div>
</nav>